/* スクロールのためのdiv start */
div.smart-table {
    clear: both;
    width: 100%;
	height:auto;
}
div.smart-table th, div.smart-table td {
    white-space: nowrap;
}
div.smart-table div.smart-table-header {
}
div.smart-table-header, div.smart-table-body {
    overflow: hidden;
}
div.smart-table div.smart-table-body {
    overflow: auto;
}
div.smart-table .td-lg {
    width: 120px;
}
div.smart-table .td-md {
    width: 100px;
}
div.smart-table .td-sm {
    width: 80px;
}
div.smart-table .td-xs {
    width: 60px;
}
div.smart-table div.td-ck {
    text-align: center;
    width: 20px;
}
/* スクロールのためのdiv end */

/* テーブル start */
div.smart-table table {
	width: 100%;
	font-size: 13px;
    border-collapse: separate;
    border-spacing: 0;
}
div.smart-table table thead tr {
	background: linear-gradient(#ffffff, #dddddd);
}
div.smart-table table th {
	height: 25px;
    border-left: 1px solid #fffddd;
    border-right: 1px solid #dddddd;
	border-bottom: 1px solid #ffffff;
    overflow: hidden;
    padding: 3px 5px 2px 5px;
    text-align: left;
    vertical-align: top !important;
}
div.smart-table table th.sort:hover, table th.sort:focus{
	cursor: pointer;
	border-bottom: 1px solid orange;
}
div.smart-table table td {
    padding: 3px 5px 2px 5px;
    border-left: 1px solid #fffddd;
    border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background-color: #ffffff;
}
div.smart-table table tfoot tr {
	background: linear-gradient(#ffffff, #dddddd);
	height: 25px;
}
div.smart-table table tfoot td {
    padding: 3px 5px 2px 5px;
    text-align: left;
    vertical-align: top !important;
	background-color: transparent;
}
div.smart-table table .click {cursor: pointer;}
/* テーブル end */

/* テーブルページング用フッター start */
div.smart-table table div.btnseparator {
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    float: left;
    height: 22px;
    margin: 1px;
}
div.smart-table table div.pButton {
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 22px;
    overflow: hidden;
    width: 22px;
}
div.smart-table table div.pGroup {
    float: left;
    margin: 0 5px;
}
div.smart-table table .pFirst {
    background: url("images/first.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
div.smart-table table .pPrev {
    background: url("images/prev.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
div.smart-table table .pNext {
    background: url("images/next.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
div.smart-table table .pLast {
    background: url("images/last.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
}
div.smart-table table .pReload {
    background: url("images/load.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
/* テーブルページング用フッター end */