body {
	background-image: url(../images/bg_top.gif); 
	background-position: center;
	background-size:cover;
}
/*スマホ版だと小さくする*/
@media (max-width: 480px) {
	body {
		background-image: url(../images/bg_second.gif); 
		background-position: center;
		background-size:cover;
	}
}

/* edit css */
input[type="radio"], input[type="checkbox"] {
	margin: 0;
}

input[type="file"] {
	display: inline;
}

a {
	font-size: 14px;
	color: #05E;
}

h4 {
	font-weight: bold;
	font-size: 17px;
}

.table tr td {
	border-top: solid 1px #777;
	line-height: 33px;
}
.table tr td input,
.table tr td textarea,
.table tr td select {
	margin-top: 1px;
	margin-bottom: 1px;

}
.table-bordered > tbody > tr > td {
    background-color: #f9f9f9;
}

.table-bordered {
	border: solid 1px #777;
}

.table-bordered td {
	border-left: solid 1px #777;
}

.table-no_bordered {
	border: none;
}

.table-no_bordered td {
	border-left: none;
}

.table-header {
	width:100%;
	height: 100%;
}

.label {
	padding: 0.2em;
}

.popover {
	width: 300px;
}

.popover-title {
    background-color: #F7F7F7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 8px 14px;
	text-align: center;
    position: relative; 
}

.popover-title-back {
	position: absolute;
	top: 10;
	left: 10;
}

.popover-content {
    background-color: #FCFCFC;
    padding: 9px 14px;
}

.popover.bottom .arrow {
	left: 50%;
	top: -11px;
}

/* .row start */
div.row div.left {
	float: left;
}

div.row div.right {
	float: right;
}
/* .row end */

/* add css */
.left {text-align: left !important;}
.center {text-align: center !important;}
.right {text-align: right !important;}
.top {vertical-align: top !important;}
.middle {vertical-align: middle !important;}
.bottom {vertical-align: bottom !important;}
.clear {clear:both;}

.bg-gray {background-color: #eeeeee;}
.bg-green {background-color: #d6e9c6;}
.bg-pink {background-color: #f2dede;}
.bg-orange {background-color: #FDE288;}
.bg-sky { background-color: #f1f8f8; }

.font-red { color: #ca0000; }
.font-orenge { color: #FF6600; }
.font-sky { color: #029ce2; }
.font-green { color: #090; }

.mt0 {margin-top: 0 !important;}
.ml0 {margin-left: 0 !important;}
.mb0 {margin-bottom: 0 !important;}
.mr0 {margin-right: 0 !important;}
.m0 {margig: 0 !important;}

.mt10 {margin-top: 10px !important;}
.ml10 {margin-left: 10px !important;}
.mb10 {margin-bottom: 10px !important;}
.mr10 {margin-right: 10px !important;}
.m10 {margig: 10px !important;}


.pt0 {padding-top: 0 !important;}
.pl0 {padding-left: 0 !important;}
.pb0 {padding-bottom: 0 !important;}
.pr0 {padding-right: 0 !important;}
.p0 {padding: 0 !important;}

.p1 {padding: 1px !important;}

.pt5 {padding-top: 5px !important;}
.pl5 {padding-left: 5px !important;}
.pb5 {padding-bottom: 5px !important;}
.pr5 {padding-right: 5px !important;}
.p5 {padding: 5px !important;}

.vt {vertical-align: top !important;}
.vm {vertical-align: middle !important;}
.vb {vertical-align: bottom !important;}

.prev {display: none;}
.next {display: none;}

.err-msg {color: #ca4a48; font-weight: bold;}

/* imeモード */
.ime-on { ime-mode: active !important; }
.ime-off { ime-mode: disabled !important; }

/* フォームエラー色 */
.form-error { background-color: #FFD7EB; }

/* 非表示エリア */
div.none-area {display: none;}

/* ナビゲーションバー start */
.navbar-brand img {
	margin-top: -15px;	
}

.navbar-right {
	float: right;
	margin-right: 0;
	color: #fff;
	padding-top: 10px;
}

.navbar-right .logout {
	margin-right:20px;
	color: #fff;
}

.navbar-tabs {
	margin-bottom: 0;
}

/* ナビゲーションバー end */

.tab-content {
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding: 10px;
}

.nav li.active a,
.nav li.active a:hover {
	background-color: #415b76;
	color: #fff;
}

body > .container {
	margin: 30px auto auto auto;
	padding: 20px;
	width: auto;
}
/*スマホ版だと余白を小さくする*/
@media (max-width: 480px) {
	body > .container {
		margin: 0px;
		padding: 3px;
		width: auto;
	}
}

.navbar .navbar-inner .container {
	padding: 0 20px;
	width: auto;
}


#msgModal, #msgModal2, #msgModal3 {
	left: 50%;
	width: 90%;
	margin-left: -45%;
}


.h3-margin {
	margin-top: 10px;
	line-height: 40px;
	font-size: 22.5px;
}

.h3-margin .popover	 {
	line-height: 20px;
	font-size: 14px;
}


.attention-area {
	/*background-color: #ffa500;*/
	background-color: none;
	background-image: url(../images/working_bg.gif);
	color: #333333;
}
.attention-area a {
	/*color: #ca0000;*/
	font-weight: bold;
}

/* messageエリア */
.system-message {
	background-color: #E7FEEB;
	border: 1px solid #007900;
	color: #004400;
	font-size: 12px;
	line-height: 12px;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 10px;
}

.error-message {
	color: #ca0000;
	line-height: 18px;
	background-color:#fff3ff;
	border: 2px solid #ca0000;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.error-message-header {
	font-weight: bold;
	font-size: 16px;
	background:url(../images/error.gif) left center no-repeat;
	padding: 0 0 0 20px;
	line-height: 16px;
	margin-bottom: 5px;
}

/* table */
.table-navy tr th {
	background-color: #CCCCCC;
	color: #000000;
}

.list tr th {
	line-height: 1.5em;
	padding: 2px;
	text-align: center;
}

.list tr td {
	line-height: 1.5em;
}

.no-border th,
.no-border td {
	border: none !important;
}

.order-list tbody tr th,
.order-list tbody tr td,
.order-list tbody tr td a {
	padding: 2px;
	font-size: 12px;
}

.order-list-input tbody tr td {
	background-color: #D9ECFF;
}


/* 一覧画面の検索ポップアップ start */
.popover-content th, .popover-content td {
	padding: 5px;
}

/* 画面ヘッダーボタン欄 */
.header-buttons {
	margin-top:15px;
	margin-bottom:1px;
}

/* jquery-ui datepicker start */
select.ui-datepicker-year {
	color:#000000;
}

select.ui-datepicker-month {
	color:#000000;
}
/* jquery-ui datepicker end */


/* メニューエリア start */
.header-top {
    display: block;
    float: left;
    width: 100%;
	clear: both;
    margin: 0;
}

.header-nav {
    padding: 0;
    margin: 0;
    border: none;
    max-width: 900px;
    min-width: 300px;
}
.search {
	position: absolute;
	top: 5px;
	right: 15px;
}

.js-search {
	position: absolute;
	top: 68px;
	right: 0px;
	width: 320px;
	height: 250px;
	background-color: #444444;
	z-index: 100;
	opacity: 0.9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.js-search-arrow {
	position: absolute;
	top: 48px;
	right: 28px;
	border: 10px solid transparent;
	border-bottom: 10px solid #444444;	
	z-index: 100;
	opacity: 0.9;
}

.js-search-close {
	text-align: center;
}

/* メニューエリア end */

/* コンテンツエリア start */
.row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.col-md-2 {
	color: #ffffff;
    font-size: 30px;
	font-weight:bold;
    border-left: 5px solid #ffffff;
	width: 100%;
	padding-left: 10px;
    margin-bottom: 10px;
}
/*スマホ版だと小さくする*/
@media (max-width: 480px) {
	.col-md-2 {
		color: #ffffff;
		font-size: 25px;
		font-weight:bold;
		border-left: 5px solid #ffffff;
		width: 100%;
		padding-left: 5px;
		margin-bottom: 5px;
	}
}

.title_right {
    float: right;
}

.search_area {
    font-size: 19px;
    margin-bottom: 20px;
}

.message {
	color: #ffffff;
    font-size: 23px;
}
/*スマホ版だと小さくする*/
@media (max-width: 480px) {
	.message {
		color: #ffffff;
		font-size: 20px;
	}
}

.table-striped > tbody > tr > td {
    background-color: #f9f9f9;
}

.kojin_left {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 30px;
}

.sub_left {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.sub_right {
    float: right;
	text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.button_margin {
    padding-left: 3px;
    padding-right: 3px;
}

.infobox {
	height: 200px;
	overflow: auto;
	border: 0;
    margin-bottom: 20px;
}

.modal-header {
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.flexigrid div.bDiv td {
    vertical-align: middle !important;
}

.flexigrid {
    font-size: 13px;
}

.flexigrid tr.erow td {
	background: #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}

.bx-wrapper {
    position: relative;
	margin-left: 10px;
	margin-bottom: 60px;
    padding: 0;
    width: 320px;
}

.bx-wrapper img {
    width: 80%;
	padding-left: 60px;
}

.sending {
	color: #00F;
}

.send_end {
	color: #CCC;
}
/* コンテンツエリア end */


/* レスポンシブ対応 start */
/* 汎用class */
@media (min-width: 1024px) {
	.sm-visible {
		display:none;
		visibility: hidden;
	}
}
@media (max-width: 1024px) {
	.sm-invisible {
		display: none;
		visibility: hidden;
	}
	.sm-visible {
		display:block;
		visibility: visible;
	}
}

@media (min-width: 480px) {
	.xs-visible {
		display: none;
		visibility: hidden;
	}
}

@media (max-width: 480px) {
	.xs-invisible {
		display: none;
		visibility: hidden;
	}
}

/*
@media (min-width: 1200px) {
}
*/

/* 汎用class end */

/* 編集用テーブル start */

@media (min-width: 768px) {
	table.table-edit tbody tr td { 
		text-align: left;	
	}
	table.table-edit tbody tr td.sm-evaluation {
		width: 250px;
		text-align: center;
	}
	table.table-edit tbody tr td.sm-center {
		text-align: left;	
	}
}

@media (max-width: 768px) {
	.table-edit,
	.table-edit tbody,
	.table-edit tr,
	.table-edit th,
	.table-edit td {
		display: block;
	}
 
	table.table-edit thead {
		display: none;
	}
	table.table-edit tbody tr th,
	table.table-edit tbody tr td {
		border: none;
		width: 100%;
	}
	table.table-edit tbody tr th {
		text-align: center;	
	}
	table.table-edit tbody tr td {
		display: list-item;
		list-style-type: none;
		padding-left: 0;
		text-align: left;
	}
	table.table-edit tbody tr td.sm-item {
		text-align:center;
		background-color: #bbbbbb;
	}
	table.table-edit tbody tr td.sm-evaluation {
		text-align: center;	
	}
	table.table-edit tbody tr td.sm-center {
		text-align: center;	
	}
}


/*
@media (min-width: 1200px) {
}
*/

/* 編集用テーブル end */
/* レスポンシブ対応 end */
