body {
	background-image: url(../images/bg_top.gif); 
	background-position: center;
	background-size:cover;
}
/*スマホ版だと小さくする*/
@media (max-width: 480px) {
	body {
		background-image: url(../images/bg_top_phone.gif); 
		background-position: center;
		background-size:cover;
	}
}
/* メニューエリア start */

.line1 {
    display: block;
    float: left;
    width: 100%;
	padding-top: 100px;
}

.line2 {
    display: block;
    float: left;
    width: 100%;
}

.side1 {
    display: block;
    float: left;
    width: 33%;
	clear: both;
    margin: 0;
	text-align: right;
	padding-right:30px;
}

.side2 {
    display: block;
    float: left;
    width: 33%;
	clear: both;
    margin: 0;
	text-align: right;
	padding-right:100px;
	padding-top: 180px;
}

.side-bottom {
	margin-top: 200px;
}
.nav-menu {
    float: left;
}

.nav-menu > a {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}

.header-top-s {
    display: block;
    float: center;
    width: 100%;
	clear: both;
    margin: 0;
	text-align: center;
}

.nav-s {
    float: left;
    width: 100%;
    margin-top: 260px;
}
.nav-menu-s {
    float: left;
    margin: 0;
    padding: 0;
}
.nav-menu-s > a {
    float: left;
    display: block;
    margin: 5px;
    padding: 0px;
}

/* コンテンツエリア start */
.row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}


/* レスポンシブ対応 start */
/* 汎用class */
@media (min-width: 1024px) {
	.sm-visible {
		display:none;
		visibility: hidden;
	}
}
@media (max-width: 1024px) {
	.sm-invisible {
		display: none;
		visibility: hidden;
	}
	.sm-visible {
		display:block;
		visibility: visible;
	}
}

@media (min-width: 480px) {
	.xs-visible {
		display: none;
		visibility: hidden;
	}
}

@media (max-width: 480px) {
	.xs-invisible {
		display: none;
		visibility: hidden;
	}
}
